<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <div>
    <%= @lecture.content.html_safe %>
  </div>
</p>

<p>
  <strong>Lec file:</strong>
  <%= @lecture.lec_file %>
  <%= link_to "Display",@lecture.lec_file.to_s%>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.title if @lecture.course %>
</p>

<p>
  <strong>User:</strong>
  <%= @lecture.user.name %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
