<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <div>
    <%= @lecture.content.html_safe %>
  </div>
</p>

<p>
  <strong>Lec file:</strong>
  <%= @lecture.lec_file %>
  <%= link_to "Display",@lecture.lec_file.to_s%>
  <%=link_to "Download","/lec_file/"+@lecture.id.to_s%>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.title if @lecture.course %>
</p>

<p>
  <strong>User:</strong>
  <%= @lecture.user.name if @lecture.user%>
</p>
<% @lecture.liked_by current_user %>
<% @lecture.disliked_by current_user %>
<p>
  <strong>Votes:</strong>
  <%= @lecture.votes_for.size%>
</p>
<p>
  <strong>Likes:</strong>
  <%= @lecture.get_likes.size%>
</p>
<p>
  <strong>Dislikes:</strong>
  <%= @lecture.get_dislikes.size%>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
