<!--<p id="notice"><%#= notice %></p>-->






<% @users.each do |user| %>


<section class="mbr-section mbr-section--relative mbr-parallax-background" id="msg-box5-46" style="background-image: url(/assets/images/iphone-6-458150-1920-1920x1285-73.jpg);">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 168, 133);"></div>
  <div class="mbr-section__container mbr-section__container--isolated container">
    <div class="row">
      <div class="mbr-box mbr-box--fixed mbr-box--adapted">
        <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
          <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width">  <%= image_tag user.profile_img.url ,:calss=>"mbr-figure__img" if user.profile_img? %></figure>
        </div>
        <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
          <div class="mbr-section__container mbr-section__container--middle">
            <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
              <h3 class="mbr-header__text">Username: <%= user.name %></h3>
              <h3 class="mbr-header__text">Email: <%= user.email %></h3>
              <h3 class="mbr-header__text">Gender: <%= user.gender %></h3>
              <h3 class="mbr-header__text">Date Of Birth: <%= user.birthdate %></h3>
            </div>
          </div>
          <div class="mbr-section__container mbr-section__container--middle">
          </div>
          <div class="mbr-buttons btn-inverse mbr-buttons--left">
            <%= link_to 'Show Profile', user,:class => "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <%= link_to 'Edit Profile', edit_user_path(user),:class => "mbr-buttons__btn btn btn-lg animated fadeInUp delay btn-warning"  if user==current_user%>
            <%= link_to 'Delete Profile', user, method: :delete, data: { confirm: 'Are you sure?' },:class => "mbr-buttons__btn btn btn-lg animated fadeInUp delay btn-danger" if user==current_user%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% end %>
