<!DOCTYPE html>
<html>
<head>
  <title>Coursera</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if current_user%>
      <h4><%= current_user.name%> - <%= current_user.email %> | <%= link_to 'Logout',destroy_user_session_path,method: :delete, data: {confirm: 'Are you sure?'}%>
      </h4>
      <hr>
  <%else%>
      <h4>
        <%= link_to 'Login',new_user_session_path%> |
        <%= link_to 'SignUp', new_user_path %>
        <hr>
      </h4>
  <%end%>
  <span><strong><%= link_to "Users",users_path%></strong></span>
  <span><strong><%= link_to "Courses",courses_path%></strong></span>
  <span><strong><%= link_to "Lectures",lectures_path%></strong></span>

</header>
<%= yield %>

</body>
</html>
